html, * {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 6px ridge #555;
}

header img {
    margin: 0 auto;
    padding: 15px 0;
}

header h1 {
    font-size: 4.5rem;
    text-align: center;
}